# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular Data Science languages
- Show examples of coding arithmetic
- Practice using Jupyter Notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. C

Some of the commonly used libraries used by Data Scientists include:
1. MatPlotLib
2. ggplot2
3. Pandas
4. GGally

|Data Science Tools|
|------|
|Git|
|Jupyter|
|Visual Studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
## This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [15]:
## This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = 200 // 60
hours

3

## This Notebook was created by:
*Julia Sacca*